<!DOCTYPE html>
<html>
    <head>
        <title>Fastener Inventory App</title>
        <link rel="stylesheet" href="../public/style.css" />
    </head>
    <body>
        <div class="container">
            <h1 style="text-align: center">Fastener Inventory</h1>
            <fieldset>
                <form>
                    <label for="category">Fastener Categories:</label>
                    <select id="category-dropdown" name="category">
                        <option value="" disabled selected>Select category</option>
                        <option value="screws">Screws</option>
                        <option value="nuts">Nuts</option>
                        <option value="bolts">Bolts</option>
                        <option value="washers">Washers</option>
                    </select>
                </form>
            </fieldset>

            <p>Some space between forms</p>

            <fieldset>
                <form>
                    <label for="fastener-type">Fastener Type:</label>
                    <select id="fastener-type" name="fastener-type">
                        <option value="" disabled selected>Select fastener type</option>
                    </select>
                </form>
            </fieldset>
        </div>
        <!-- `cd ./public/` -->
        <script type="module" src="../public/fastenerDropdown.js"></script>
    </body>
</html>
