<!DOCTYPE html>
<html>
  <head>
    <title>Fastener Inventory App</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h1>Fastener Inventory App</h1>
      <form action="/api/fasteners" method="post">
        <h3>Create a New Fastener</h3>
        <input
          id="pname"
          type="text"
          name="partnumber"
          placeholder="partnumber"
        />
        <input type="submit" value="Submit" />
      </form>

      <form id="fastener-form" method="post">
        <h3>Add a fastener to the database</h3>
        <input
          id="pid"
          type="text"
          name=":fastenerId"
          placeholder=":fastenerId"
        />
        <input
          id="pname"
          type="text"
          name="partname"
          placeholder="name of part"
        />
        <input id="pr" type="text" name="price" placeholder="price ($)" />
        <input type="submit" value="Submit" />
      </form>
    </div>

    <script>
      const fastenerForm = document.getElementById("fastener-form");
      fastenerForm.addEventListener("submit", () => {
        const userId = document.getElementById("uid").value;
        fastenerForm.action = `/api/users/${fastenerId}/fasteners`;
        fastenerForm.submit();
      });
    </script>
  </body>
</html>
